button,
.login-btn,
.logout-btn {
	padding: 0.5rem 1rem;
	background-color: var(--bg-items);
	color: var(--white);
	border: var(--white) 1px solid;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;

	&:hover {
		scale: 1.1;
		transition: 0.2s all ease;
	}
}
