.decks-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));

	ul {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		padding: 0.5rem;
	}

	li {
		border: 1px solid var(--text);
		border-radius: 5px;
		padding: 1rem;
		font-weight: bold;

		&:hover {
			cursor: pointer;
			background-color: var(--bg-items);
			scale: 1.05;
			transition: 0.1s all ease-in-out;
		}
	}
}
